extends ../config/_template
append config
  - pageTitle = 'Pagina inicial del Boilerplate'
  - pageDescription = 'Pagina inicial del Boilerplate'
  - pageImage = `${rutaImg}/banner.jpg`

block content
    h1 Bienvenidos al Boilerplate, creador 
      a(href="https://github.com/nelsonurbaneja/") NELSON URBANEJA 
