- let pageTitle = 'Home'
- let pageDescription = 'Pagina inicial del boilerplate'
- let pageImage = 'https://p7.hiclipart.com/preview/136/286/370/computer-icons-website-favicon-world-wide-web-www-site-internet-icon.jpg'
- let rutaImg  = './assets/img'
- let rutaJs  = './assets/js'
- let rutaCss  = './assets/css'

