.container {
    width: 100%;
    max-width       : 1200px;
    height          : 100%;
    padding-left    : 1rem;
    padding-right   : 1rem;
    margin-left     : auto;
    margin-right    : auto;
}
@each $bp, $size in $breakPoints {
    @media screen and (min-width: $size) {
        @for $i from 1 through 20 {
            .#{$bp}-#{$i*5} {
                width: #{$i * 5%};
            }
        }
    }
}